.clothing-shop_categories {
	margin-bottom: 0.5%;
	width: 70%;
	display: flex;
	justify-content: space-between;

	&-item {
		width: 3vw;
		height: 3vw;
		overflow: hidden;
		border-radius: 0.5vw;
		background: linear-gradient(
			30deg,
			rgba(9, 38, 140, 0.85) 0%,
			rgba(0, 102, 255, 0.85) 100%
		);
		transition: filter 0.2s ease;

		&:hover {
			background: linear-gradient(30deg, rgb(9, 38, 140) 0%, rgb(0, 102, 255) 100%);
			filter: invert(1);
		}

		&.active {
			background: linear-gradient(30deg, rgb(9, 38, 140) 0%, rgb(0, 102, 255) 100%);
			filter: invert(1);
		}

		img {
			margin: 0 auto;
			display: block;
			width: 2vw;
			height: 100%;
			filter: invert(1);
		}
	}
}
