.daily_bonus {
	width: 55%;

	&-title {
		margin: 0;
		margin-bottom: 1%;
	}

	&-items {
		display: flex;
		align-items: flex-end;

		.title {
			margin: 0;
			font-weight: 400;
			letter-spacing: 0.2vw;
		}
	}

	ul {
		position: relative;
		width: 80%;
		display: flex;

		&::before {
			@extend %pseudo;

			top: 35%;
			left: 5%;
			width: 100%;
			height: 2px;
			background: linear-gradient(-180deg, rgb(255, 248, 59) 0%, rgb(255, 108, 0) 100%);
		}
	}

	li {
		margin-left: 4%;
		text-align: center;
	}

	.active {
		.description {
			background-image: url(~assets/images/gradient-btn_bg.png),
				linear-gradient(30deg, rgb(255, 248, 59) 0%, rgb(255, 108, 0) 100%);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			font-size: 0.8vw;
			border: none;
			box-shadow: 0px 0.1vw 0.2vw 0.1vw rgba($color: #ff9600, $alpha: 0.3);

			&::after {
				top: 60%;
				filter: grayscale(0) saturate(2);
				opacity: 1;
			}
		}

		.day {
			color: #ffd52c;
		}
	}

	.description {
		position: relative;
		width: 5vw;
		height: 5vw;
		border: 0.25vw solid rgba($color: #200616, $alpha: 0.96);
		font-size: 0;
		font-weight: 300;
		background: linear-gradient(
			30deg,
			rgba(50, 10, 31, 1) 0%,
			rgba(101, 8, 55, 1) 64%,
			rgba(137, 6, 72, 1) 100%,
			rgba(177, 4, 92, 1) 100%
		);

		&::after {
			@extend %pseudo;

			width: 3vw;
			height: 3vw;
			left: 50%;
			top: 55%;
			transform: translate(-50%, -50%);
			background: url(~assets/images/bonus-cash.svg) no-repeat;
			filter: grayscale(1);
			opacity: 0.6;
		}
	}

	.day {
		opacity: 0.5;
		font-weight: 300;
	}
}
