.primary-title {
	width: 100%;
	font-size: 3vw;
	font-weight: 500;
	letter-spacing: 0.5vw;
	text-transform: uppercase;
}

.point {
	display: flex;
	align-items: center;
	color: $white;

	svg {
		width: 1.7vw;
		height: 1.7vw;
		fill: currentColor;
	}
}

.payment-modal {
	position: absolute;
	top: 0;
	padding: 5%;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&::before {
		@extend %pseudo;

		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba($black, $alpha: 0.75);
		z-index: -1;
		backdrop-filter: blur(2px);
	}

	&_title {
		margin: 0 auto;
		text-align: center;
	}

	&_container {
		padding: 1% 4%;
		display: flex;
		justify-content: center;
	}

	&_type {
		padding: 4%;
		width: 35%;
		clip-path: polygon(5% 0, 100% 5%, 94% 95%, 0% 100%);
		background: url(~assets/images/payment_bank.jpg) center no-repeat;
		background-size: cover;

		img {
			display: block;
			margin: 0 auto;
			width: 10vw;
			height: 10vw;
			filter: invert(1);
		}

		&--cash {
			background: url(~assets/images/payment_cash.jpg) center no-repeat;
			background-size: cover;
			clip-path: polygon(5% 5%, 100% 0, 94% 100%, 0% 95%);
		}

		&:hover {
			opacity: 0.8;
		}
	}

	button {
		margin: 0 auto;
		font-size: 1.5vw;
	}
}

.total-price {
	&_title {
		margin: 0;
		font-size: 1.3vw;
		font-weight: 200;
	}

	&_value {
		font-size: 2.2vw;
		font-weight: 700;
		line-height: 1;
		color: $yellow;
		text-shadow: 0px 1.2vw 2vw rgba(255, 180, 0, 0.3);
	}
}

body .outline-input {
	background: transparent;
	border: 0.1vh solid $white;
	outline: none;
	border-radius: 1vw;
	text-align: center;
	font: inherit;
	color: $white;
}

.hint {
	display: flex;
	align-items: center;
	font-size: 0.9vw;
	text-shadow: rgba($black, $alpha: 0.6) 0.1vw 0.1vw 0.2vw;

	&_icon {
		width: 2.3vw;
		height: 2.3vw;
	}

	&_text {
		margin-left: 1.5%;
		font-size: inherit;
		font-weight: 200;
		line-height: 1.3;
	}
}
