.licenses_item {
	position: relative;
	margin-right: 1%;
	padding: 4% 2% 4%;
	width: 22%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-blend-mode: saturation;
	clip-path: polygon(0 4%, 96% 2%, 100% 100%, 3% 97%);

	&:nth-child(2n + 1) {
		clip-path: polygon(0 0, 96% 2%, 100% 96%, 3% 98%);
	}

	&:nth-child(3n + 1) {
		clip-path: polygon(0 2%, 98% 0%, 100% 98%, 3% 98%);
	}

	&.disabled {
		pointer-events: none;
	}

	&-title {
		margin: 0;
		text-align: center;
	}

	&-subtitle {
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.6vw;
		font-weight: 200;
		letter-spacing: 0.2vw;
		line-height: 1;
	}

	&-info {
		padding-top: 25%;
		font-size: 1.4vw;
		font-weight: 200;
		letter-spacing: 0.02vw;
	}

	&-price {
		margin-top: auto;
		margin-bottom: 2%;
		text-align: center;

		h4 {
			margin: 0;
			font-size: 1.3vw;
			font-weight: 200;
		}

		span {
			font-size: 2.5vw;
			font-weight: 700;
		}
	}

	&-buy {
		margin: 0 auto;
		padding: 3% 4%;
		width: 60%;
	}

	&-checkmark {
		margin: auto;
		width: 15vw;
		height: 15vw;
		background: url(~assets/images/check.svg) center no-repeat;
		background-size: cover;
		z-index: 2;
	}
}

@media (max-width: 1024px) {
	.licenses_item {
		width: 25%;
	}
}