@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-ExtraLight.ttf);
	font-weight: 200;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'Oswald';
	src: url(~assets/fonts/Oswald-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'SF UI Text';
	src: url(~assets/fonts/SFUIText-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'SF UI Text';
	src: url(~assets/fonts/SFUIText-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'SF UI Text';
	src: url(~assets/fonts/SFUIText-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'SF UI Text';
	src: url(~assets/fonts/SFUIText-Bold.ttf);
	font-weight: 700;
}
