@import './partials';
@import './brow';
@import './main';
@import './contacts';
@import './keypad';
@import './call';
@import './settings';
@import './maps';
@import './sim';
@import './vehicles';
@import './referral';

.phone {
	position: absolute;
	bottom: 4%;
	right: 2%;
	min-height: auto !important;
	width: 30vh;
	height: 62vh;
	border-radius: 2.2vw;
	box-shadow: 0px 0px 0px 0.6vw #1f1f1f, 0px 0px 0px 0.7vw #191919,
		0px 0px 0px 0.9vw rgb(59, 59, 59);
	font-family: 'SF UI Text';

	&_container {
		position: relative;
		min-height: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: inherit;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		& > div:nth-child(2) {
			position: relative;
			padding-top: 20%;
			height: 100%;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	&_status-bar {
		position: absolute;
		top: 0;
		padding: 3% 6% 1%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-size: 0.75vw;
		font-weight: 500;
		z-index: 2;

		.icons {
			width: 15%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			svg {
				width: 1.1vw;
				height: 1.1vw;
				fill: currentColor;

				&:first-of-type {
					width: 0.8vw;
					height: 0.8vw;
				}
			}
		}
	}

	&_close-btn {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2.5vh;
		color: currentColor;
		z-index: 2;

		&:hover {
			opacity: 0.6;
		}

		&::before {
			@extend %pseudo;

			margin-bottom: 4%;
			left: 50%;
			transform: translateX(-50%);
			width: 50%;
			height: 0.25vw;
			background: currentColor;
			border-radius: 1vw;
		}
	}
}

@media (max-width: 1024px) {
	.phone {
		width: 25vh;
		height: 52vh;
		border-radius: 2.2vw;
	}
}
