.sim {
	position: relative;
	display: flex;
	flex-direction: column;
	background: linear-gradient(
		180deg,
		rgba(33, 15, 96, 1) 0%,
		rgba(12, 32, 97, 1) 47%,
		rgba(44, 24, 116, 1) 100%
	);
	font-family: 'Oswald';

	&_logo {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		filter: invert(1);
		width: 85%;
		z-index: 0;
	}

	&_btn {
		margin: 0 auto;
		margin-top: 8%;
		padding: 2%;
		width: 70%;
		border: 0.1vh solid rgb(0, 162, 255);
		color: $white;
		font-weight: 200;
		text-transform: uppercase;
		font-size: 1.2vw;
		line-height: 2;
		border-radius: 1.5vw;
		transition: opacity ease 0.3s;

		&:hover {
			opacity: 0.5;
		}
	}

	&_form {
		position: relative;
		padding-top: 30%;
		display: flex;
		flex-direction: column;
		z-index: 2;

		&-field {
			text-align: center;
			font-size: 1vw;
			font-weight: 200;
		}

		input {
			width: 100%;
			background: rgba(23, 57, 182, 0.5);
			border: none;
			outline: none;
			font-family: inherit;
			font-size: 1.7vw;
			font-weight: 200;
			line-height: 1.7;
			color: $white;
			text-align: center;
			letter-spacing: 0.05vw;
			text-transform: uppercase;

			&::placeholder {
				color: inherit;
			}
		}
	}

	&_prices {
		margin-top: auto;
		padding-bottom: 15%;

		&-title {
			text-transform: uppercase;
			text-align: center;
			font-weight: 200;
			font-size: 1vw;
			color: #007eff;
		}

		&-list {
			padding: 0 6%;
			font-size: 0.9vw;
			text-transform: uppercase;
			font-weight: 200;
			color: #b1b1b1;
		}

		&-item {
			display: flex;
			justify-content: space-between;
			align-items: center;

			span {
				font-weight: 700;
				color: $white;
			}
		}
	}
}
