@import './form';

.passport {
	padding: 4% 28%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@extend %smoke;

	&_container {
		position: relative;
		margin-top: -3%;
		padding: 4% 4% 8%;
		width: 100%;
		display: flex;
		flex-direction: column;
		clip-path: polygon(0 1%, 100% 3%, 96% 99%, 5% 98%);
		background: url(~assets/images/passport_bg.jpg) center no-repeat;
		background-size: cover;
	}

	&_title {
		margin: 0;
		z-index: 2;
	}

	&_name {
		margin: 0;
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 1.6vw;
		font-weight: 300;

		strong {
			color: $yellow;
		}
	}

	&_price {
		margin: 0 auto;
		font-weight: 700;
	}

	&_buy {
		padding: 0.8vw 1vw;
	}

	&_footer {
		margin-top: -5%;
		padding: 0 5%;
		padding-left: 6%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 1;
	}
}
