.weapons_ammo {
	position: relative;
	margin-left: -2%;
	padding: 0% 6% 4%;

	& > * {
		position: relative;
		z-index: 1;
	}

	&::before {
		@extend %pseudo;

		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(~assets/images/weapons_ammo-bg.jpg) top no-repeat;
		background-size: cover;
		clip-path: polygon(3% 8%, 100% 5%, 96% 100%, 0 98%);
		z-index: 0;
	}

	&-title {
		margin: 0;
		margin-left: -4%;
		font-size: 2vw;
	}

	&-types {
		margin-bottom: 2%;
		padding-top: 2%;
		display: flex;
		justify-content: space-between;
	}

	&-type {
		width: 32%;
		padding: 1% 2%;

		&.active {
			background-image: linear-gradient(
				30deg,
				rgb(255, 248, 59) 0%,
				rgb(255, 108, 0) 100%
			);
			border: none;
			opacity: 1;
		}
	}

	&-amount {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.title {
			margin: 0;
			font-size: 1vw;
			font-weight: 200;
			letter-spacing: 0.2vw;
		}

		input {
			width: 70%;
		}
	}

	&-footer {
		padding: 4% 2% 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-price {
		font-size: 1.7vw;
		font-weight: 600;
	}

	&-submit {
		padding: 3% 4%;
		min-width: 40%;
		font-size: 1.2vw;
	}
}
