.donation_balance {
	margin-bottom: 3%;
	display: flex;
	align-items: center;

	&-title {
		margin: 0;
		margin-right: 1%;
		padding-right: 1%;
		font-size: 1.5vw;
		font-weight: 600;
		border-right: 0.15vw solid $pink;
	}

	&-current {
		font-size: 1.5vw;
		font-weight: 400;
	}
}
