.donation_product {
	position: relative;
	margin-bottom: 2%;
	padding-left: 12%;
	width: 50%;
	display: flex;
	flex-direction: column;

	&-icon {
		position: absolute;
		top: 23%;
		left: 12%;
		transform: translate(-50%, -50%);

		z-index: 2;

		span {
			position: absolute;
			width: 8.5vw;
			height: 8.5vw;
			top: 0;
			left: 0;
			border: 0.1vh solid #f4b729;
			transform: rotate(45deg);
			z-index: -1;

			&::before,
			&::after {
				@extend %pseudo;

				top: inherit;
				left: inherit;
				width: inherit;
				height: inherit;
				border: inherit;
				transform: rotate(90deg) scale(1.15) translate(-1%, 1%);
			}

			&::after {
				transform: rotate(90deg) scale(1.3) translate(-0.5%, 0.5%);
				margin-top: -1%;
			}
		}

		img {
			position: absolute;

			display: block;
			height: auto;
			width: 9vw;
			top: 0;
			left: 0;

			z-index: 3;
		}
	}

	&-title {
		position: relative;
		margin: 0 0 0.5%;
		padding: 2% 0;
		padding-left: 25%;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 12% 100%);
		background: linear-gradient(
			270deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(67, 67, 67, 0.5) 100%
		);
		border: 0.1vh solid #3b5385;
		font-weight: 600;

		&::before {
			@extend %pseudo;

			top: 50%;
			left: 20%;
			transform: translateY(-50%);
			width: 1px;
			height: 90%;
			background: $pink;
		}
	}

	&-descr {
		margin: 0 0 0.7% auto;
		padding: 2% 4%;
		padding-left: 18%;
		width: 88%;
		height: 5.9vw;
		clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 11% 100%, 17.5% 73%);
		background: linear-gradient(
			270deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(67, 67, 67, 0.5) 100%
		);
		border: 0.1vh solid #3b5385;
		font-size: 1vw;
		font-weight: 300;
		color: #a1a1a1;
	}

	&-price {
		padding: 1% 2%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: center;
		clip-path: polygon(21% 0, 100% 0, 100% 100%, 13% 100%);
		background: $pink;
	}

	&-buy {
		padding: 2% 0;
		background: linear-gradient(
			270deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(67, 67, 67, 0.5) 100%
		);
		border: 0.1vh solid #3b5385;
		clip-path: polygon(13% 0, 100% 0, 100% 100%, 0 100%);
	}

	&-btn {
		margin: 0 auto;
		padding: 1%;
		width: 30%;
		font-size: 1.2vw;
	}
}
