.phone_search {
	position: relative;
	width: 100%;
	display: block;

	input {
		padding: 2.5% 12%;
		width: 100%;
		font-size: 1vw;
		line-height: 1;
		outline: none;
		border: none;
		border-radius: 0.5vw;
		background: #1b1c1e;
		color: #93979f;
	}

	svg {
		position: absolute;
		width: 1.3vw;
		height: 1.3vw;
		top: 50%;
		transform: translateY(-50%);
		fill: #757575;
	}

	&-icon {
		left: 2%;
		fill: #757575;
	}

	&-close {
		right: 2%;

		&:hover {
			filter: brightness(0.5);
		}
	}
}
