.inventory_hints {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	padding: 0 6vw;
	padding-right: 2vw;
	width: 100%;

	&-item {
		min-width: 17%;
		max-width: 20%;
		display: flex;
		align-items: center;

		&:first-of-type {
			margin-right: auto;
		}
	}

	&-text {
		margin-left: 1.5%;
		font-size: 0.9vw;
		font-weight: 200;
		line-height: 1.3;
	}

	img {
		width: 2.3vw;
		height: 2.3vw;
	}
}
