.inventory_separate {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1% 4%;
	width: 40%;
	background: linear-gradient(
		45deg,
		rgba(17, 15, 46, 0.75) 0%,
		rgba(24, 69, 137, 0.75) 100%
	);
	clip-path: polygon(0 0, 100% 2%, 93% 99%, 8% 100%);
	z-index: 3;

	&-title {
		margin: 0 auto;
		width: 75%;
		text-align: center;
		line-height: 1.2;
	}

	&-slider {
		margin-bottom: 4%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		div.rc-slider {
			padding: 6% 0%;
			height: 1vw;
			border-radius: 0.5vw;

			&-rail {
				height: inherit;
				background: rgba($color: #ababab, $alpha: 0.3);
				border-radius: 0.5vw;
			}

			&-track {
				height: inherit;
				background-image: linear-gradient(
					30deg,
					rgb(255, 248, 59) 0%,
					rgb(255, 108, 0) 100%
				);
				border-radius: 0.5vw;
			}

			&-step {
				height: inherit;
			}

			&-handle {
				margin-top: -0.3vw;
				width: 1.7vw;
				height: 1.7vw;
				border-radius: 50%;
				background: $yellow;
				border: 0.1vh solid $yellow;

				&:focus {
					background-color: $yellow;
					box-shadow: none;
					border: 0.1vh solid $yellow;
				}

				&:hover {
					border: 0.1vh solid $yellow;
				}

				&:active {
					border-color: $yellow;
					box-shadow: 0 0 5px $yellow;
				}
			}
		}

		span {
			font-size: 1.2vw;
			line-height: 1;
		}
	}

	&-buttons {
		padding: 0 4%;
		display: flex;
		justify-content: space-between;

		button {
			padding: 0.7vw 2vw;
			width: 40%;
			font-size: 1.2vw;
		}
	}
}
