@import './main';
@import './level';
@import './info';

.job {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: 0;

	@extend %smoke;

	&_container {
		position: relative;
		width: 60%;
		display: flex;
		align-items: center;
		background: inherit;
	}

	&_footer {
		position: absolute;
		right: 5%;
		bottom: -2%;
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&_selector {
		padding: 0 2%;
		width: 100%;

		.value {
			font-size: 3vw;
			font-weight: 700;
			color: $white;
			line-height: 1;
		}
	}
}
