.job_level {
	width: 100%;

	&-current {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: inherit;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		span {
			font-size: 2vw;
			color: $pink;
		}
	}

	&-progress {
		margin: 0 auto;
		display: block;
		width: 12vw;
		height: 12vw;
	}
}
