.lsc_categories {
	margin-left: 2%;
	width: 75%;

	&-list {
		padding-bottom: 0.5%;
		height: 30vh;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		align-items: flex-end;

		&::-webkit-scrollbar {
			width: 0.3vw;
			height: 0.7vw;
		}
		&::-webkit-scrollbar-track {
			background: linear-gradient(
				40deg,
				rgba(0, 0, 0, 0.4) 0%,
				rgba(67, 67, 67, 0.4) 100%
			);
		}
		&::-webkit-scrollbar-thumb {
			background: $white;
		}
	}

	img {
		margin: 0 auto 6%;
		display: block;
		transform: skewX(-10deg);
		width: 5vw;
		height: 5vw;
		filter: invert(70%);
	}

	&-item {
		position: relative;
		margin-left: 0.7%;
		padding: 1%;
		transform: skewX(10deg);
		width: 22%;
		background-image: linear-gradient(
			40deg,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(67, 67, 67, 0.4) 100%
		);
		color: #b5b5b5;
		flex: 0 0 auto;

		&:first-child {
			margin-left: 1.2%;
		}

		&::before {
			@extend %pseudo;

			top: 0;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: $pink;
			opacity: 0;
		}

		&:hover {
			background-image: linear-gradient(
				24deg,
				rgb(217, 217, 217) 0%,
				rgb(255, 255, 255) 100%
			);
			color: #505050;
			transition: all 0.2s ease;

			&::before {
				opacity: 1;
			}

			img {
				filter: invert(32%);
			}
		}
	}

	&-title {
		margin: 0;
		margin-left: -6%;
		transform: skewX(-10deg);
		text-transform: uppercase;
		text-align: center;
		font-weight: 500;
		font-size: 1.4vw;
		color: currentColor;
	}
}
