.hud_call {
	position: absolute;
	top: 0;
	left: 50%;
	padding-left: 12%;

	&::before {
		@extend %pseudo;

		left: 0;
		width: 4vw;
		height: 100%;
		background: url(~assets/images/phone-call.svg) center no-repeat;
	}

	&-title {
		margin: 0;
		text-transform: uppercase;
		font-size: 0.9vw;
		font-weight: 300;
		opacity: 0.6;
	}

	&-name {
		text-transform: uppercase;
		white-space: nowrap;
	}
}
