@import './location';
@import './binds';
@import './online';
@import './money';
@import './speedometer';
@import './tasks';
@import './mic';
@import './ammo';
@import './hunger';
@import './call';
@import './interact';
@import './offer';
@import './level';
@import './capture';
@import './bonus';

.hud {
	&_key {
		width: 1.3vw;
		height: 1.3vw;
		border: 0.3vh solid rgba($white, $alpha: 0.5);
		border-radius: 20%;
		text-align: center;
		font-size: 0.7vw;
		line-height: 1.4;
		font-weight: 300;
		transition: all 0.2s ease;
		overflow: hidden;

		&.active {
			border-color: #fff;
		}
	}

	&_container {
		position: absolute;
		bottom: 2%;
		right: 2%;
		width: 25%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
	}

	&_minimap {
		position: absolute;
		width: 30%;
	}

	&_date {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-item {
			font-size: 0.8vw;
			line-height: 1.1;
			text-shadow: 0.07vw 0.07vw 0.07vw rgba(0, 0, 0, 0.3);

			&--time {
				font-size: 1.8vw;
				letter-spacing: 0.05vw;
			}
		}
	}
}
