.vehicle-shop_color {
	position: absolute;
	top: 50%;
	right: 2%;
	width: 11%;
	transform: skewX(-7deg);

	&-title {
		margin: 0;
		text-transform: uppercase;
		font-weight: 200;
		text-align: right;
	}

	&-container {
		position: relative;
		padding-top: 5%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&::before {
			@extend %pseudo;

			top: 0;
			left: 0;
			width: 100%;
			height: 0.6vh;
			background-image: linear-gradient(
				30deg,
				rgb(255, 248, 59) 0%,
				rgb(255, 108, 0) 100%
			);
		}
	}

	&-item {
		margin-bottom: 2%;
		width: 2.5vw;
		height: 2.5vw;
		transition: transform 0.2s ease;

		&:hover {
			transform: scale(1.05, 1.05);
		}

		&.active {
			transform: scale(1.1, 1.1);
		}
	}
}
