.workshop_products {
	&-list {
		padding-left: 3%;
		height: 40vh;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 0.5vw;
		}
		&::-webkit-scrollbar-track {
			border-radius: 0.5vw;
			border: 0.1vh solid $white;
			background: transparent;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 0.5vw;
			background: $white;
		}
	}

	&-item {
		padding: 1% 2% 1%;
		margin-left: 2%;
		margin-bottom: 2%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 22%;
		height: 8vw;
		background: rgba($black, $alpha: 0.5);
		clip-path: polygon(0 0, 97% 4%, 100% 97%, 6% 100%);
		transition: background 0.2s ease;

		&:hover {
			background: rgba($white, $alpha: 0.5);
		}

		&.active {
			background: rgba($white, $alpha: 0.7);
			color: #092991;
		}

		h4 {
			margin: 0;
			margin-bottom: 2%;
			display: block;
			text-align: left;
			font-weight: 200;
			line-height: 1.3;
			font-size: 1vw;
		}

		img {
			margin: auto;
			display: block;
			max-width: 5vw;
			max-height: 3vw;
		}

		span {
			display: block;
			text-align: right;
			line-height: 1.3;
			font-size: 1vw;
			color: $yellow;
		}
	}
}
