.dialog {
	padding: 0 2% 1%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	&_container {
		width: 35%;
	}

	&_title {
		margin: 0;
		margin-bottom: 1%;
		text-transform: uppercase;
		font-size: 1.2vw;
	}

	&_text {
		margin: 0;
		padding: 2% 3%;
		min-height: 12vh;
		border: 0.25vw solid $white;
		border-radius: 0.5vw;
		font-weight: 200;
		letter-spacing: 0.02vw;
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
		white-space: pre-line;
	}

	&_answers {
		width: 20%;

		&-item {
			margin-bottom: 3%;
			padding: 4% 6%;
			width: 100%;
			border-width: 0.25vw;
			font-size: 1.2vw;
			text-transform: initial;
			text-align: initial;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
